<article>
	<header>
		<h1>Editing <%= @auctioneer.name%></h1>
	</header>
	<%= render 'shared/errors', object: @auctioneer %>
	<%= form_with(model:@auctioneer, local:true) do |f| %>
		<%= render "auctioneer_fields", f:f%>
		<%= f.submit %>
	<% end %>

</article>

<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new auctioneer', new_auctioneer_path %>
	</li>	
<% end %>