<fieldset>
	<ul>
		<li>
			<label>Name</label>
			<%= f.text_field :name%>
		</li>
		<li>
			<label>Code</label>
			<%= f.text_field :code%>
		</li>
		<li>
			<label>address1</label>
			<%= f.text_field :address1%>
		</li>
		<li>
			<label>address2</label>
			<%= f.text_field :address2%>
		</li>
		<li>
			<label>address3</label>
			<%= f.text_field :address3%>
		</li>
		<li>
			<label>postcode</label>
			<%= f.text_field :postcode%>
		</li>
		<li>
			<label>phone</label>
			<%= f.phone_field :phone%>
		</li>
		<li>
			<label>email</label>
			<%= f.email_field :email%>
		</li>
		<li>
			<label>site id</label><%=f.check_box :siteinfo %> *
			<p>* - these details will appear in the footer on each page</p>
		</li>
	</ul>
</fieldset>

