<header>
	<h1>Edit <%=@house.name%></h1>
</header>
<article>
	<%=form_with(model:@house, local:true) do |f| %>
		<%= render 'house_fields', f:f%>
		<%= f.submit %>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new house', new_house_path %>
	</li>	
<% end %>
