<% unless @since.nil? %>
		<ul>
			<li>Selling for <%= time_ago_in_words(@since)%>.</li>
			<li>Sold <%= @total_lots_sold_by_seller %>  of <%= pluralize(@seller.lots.count, 'lot')%>.</li>
			<li>Revenue to date <%=show_money(@cash_made_by_seller)%></li>
			<li>Credit Due <%= show_money(@cash_due_to_seller)%></li>
			<% unless @disputed_lots.empty? %>
				<li><%= pluralize(@disputed_lots.count, 'lot')%> disputed.</li>
			<% end %>
			<% if @seller.last_sign_in_at%>
				<li>Last signed in <%= time_ago_in_words(@seller.last_sign_in_at) %> ago.</li>
			<% end %>
		</ul>
<% end %>