<article>
<header>
	<h1>Editing <%= @seller.full_name%></h1>
</header>

	<%= form_with(model:@seller, local:true) do |f| %>
		<%= render "shared/client_fields", f:f%>
		<%= f.submit %>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new seller', new_seller_path %>
	</li>	
<% end %>
