<article>
	<header>
		<h1>Clients - Sellers</h1>
	</header>
	<table>
		<% @sellers.each do |seller| %>
			<tr>
				<td><%=link_to "#{seller.full_name}", seller_path(seller) %></td>
				<td>(<%=seller.code%>)</td>
				<td><%=seller.email%></td>
				<td><%=seller.phone%></td>
				<td><%= link_to 'edit', edit_seller_path(seller)%></td>
				<td><%=link_to 'delete', seller, method: :delete, data: { confirm: 'Are you sure?' } if seller.lots.empty? %></td>
			</tr>
		<% end %>
	</table>
</article>

<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new seller', new_seller_path %>
	</li>	
<% end %>