<header>
	<h1>Clients - Sellers</h1>
</header>
<article>
	<table>
		<% @sellers.each do |seller| %>
			<tr>
				<td><%=seller.full_name%></td>
				<td><%=seller.code%></td>
				<td><%=seller.phone%></td>
				<td><%=seller.email%></td>
				<td><%= link_to 'edit', edit_seller_path(seller)%></td>
				<td><%=link_to 'delete', seller, method: :delete, data: { confirm: 'Are you sure?' } if seller.lots.empty? %></td>
			</tr>
		<% end %>
	</table>
</article>

<% content_for(:side_links) do %>
	<nav>
		<ul>
			<% unless controller.action_name == "new" %>
				<li>
					<%=link_to 'new seller', new_seller_path %>
				</li>	
			<% end %>
			<% unless controller.action_name == "index" %>
				<li>
					<%=link_to 'sellers list', sellers_path %>
				</li>
			<% end %>
		</ul>
	</nav>
<% end %>