<article>
	<%= paginate @sellers %>
	<header>
		<h1>Clients - Sellers</h1>
	</header>
	
	<table>
		<% @sellers.each do |seller| %>
			<tr>
				<td class='hide'>(<%=seller.code%>)</td>
				<td><%=link_to "#{seller.full_name}", seller_path(seller) %></td>
				<td class='hide'><%=seller.email%></td>
				<td class='hide'><%=seller.phone%></td>
				<td>
					<% if seller.last_sign_in_at%>last seen <%= time_ago_in_words(seller.last_sign_in_at) %> ago.<% end %>
				</td>
				<td><%= link_to 'edit', edit_seller_path(seller)%></td>
				<td><%=link_to 'delete', seller, method: :delete, data: { confirm: 'Are you sure? There is no way back!' } if seller.lots.empty? %></td>
			</tr>
		<% end %>
	</table>
	<%= paginate @sellers %>
</article>

<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new seller', new_seller_path %>
	</li>	
<% end %>