<header>
	<h1>Clients - Sellers</h1>
</header>
<article>
	<table>
		<% @sellers.each do |seller| %>
			<tr>
				<td><%=seller.full_name%></td>
				<td><%=seller.code%></td>
				<td><%=seller.phone%></td>
				<td><%=seller.email%></td>
				<td><%= link_to 'edit', seller_path(seller)%></td>
				<td><%=link_to 'delete', seller, method: :delete, data: { confirm: 'Are you sure?' } if seller.lots.empty? %></td>
			</tr>
		<% end %>
	</table>
</article>