<article>
	<header>
		<h1><%= @seller.first_and_last_name %></h1>
	</header>
	<div class="details">
	<%= render "client_contact" %>
	<% unless @since.nil? %>
	<p>(Selling for <%= time_ago_in_words(@since)%>, sold <%= @total_lots_sold_by_seller %>  of <%= pluralize(@seller.lots.count, 'lot')%> for <%=show_money(@cash_made_by_seller)%>).<% if @seller.last_sign_in_at%> last seen <%= time_ago_in_words(@seller.last_sign_in_at) %> ago.<% end %></p></p>
	<% end %>
	</div>

	<% unless @active_lots.empty? %>
		<div class="live-items">
			<h3>Lots in Auction</h3>
			<table>
				<tr>
					<td colspan=4></td>
					<td class='money'>Reserve</td>
					<td colspan=2 class='money'>Current Bidding</td>
				</tr>
				<% @active_lots.each do | lot| %>
					<tr>
						<td><%= short_date(lot.sale.date)%></td>
						<td><%= lot.sale.house.code%></td>
						<td><%= lot.lotnumber%></td>
						<td><%= link_to "#{lot.make_and_model}", lot_path(lot) %></td>
						<td class="money"><%= show_money(lot.reserve)%></td>
						<td class="money">(<%= pluralize(lot.bids.count, 'bid')%>)</td>
						<td class="money"><%= show_money(lot.selling_price)%></td>
						
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>

	<% unless @sold_lots.empty? %>
		<div class="sold-lots">
			<h3>Account <%= show_money(@cash_due_to_seller)%> to be paid.</h3>
			<table>
				<% @sold_lots.each do | lot| %>
					<tr>
						<td><%= short_date(lot.sale.date)%></td>
						<td><%= lot.sale.house.code%></td>
						<td><%= lot.lotnumber%></td>
						<td><%= link_to "#{lot.make_and_model}", lot_path(lot) %></td>
						<td class="money"><%= show_money(lot.soldat)%></td>
						<td class="money"><%= show_money(lot.sfee)%></td>
						<td class="money"><%= show_money(lot.seller_due)%></td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>

	<% unless @unsold_lots.empty? %>
		<div class="unsold-lots">
			<h3>Unsold lots to be collected.</h3>
			<table>
				<% @unsold_lots.each do | lot| %>
					<tr>
						<td><%= short_date(lot.sale.date)%></td>
						<td><%= lot.sale.house.code%></td>
						<td><%= lot.lotnumber%></td>
						<td><%= link_to "#{lot.make_and_model}", lot_path(lot) %></td>
						<td><%= show_money(lot.reserve)%></td>
						<td><%= pluralize(lot.bids.count, 'bid')%></td>
						<td><%= show_money(lot.highest_bid)%></td>
					</tr>
				<% end %>
			</table>
		</div>

	<% end %>

</article>

<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new seller', new_seller_path %>
	</li>	
<% end %>
