<article>
	<header>
		<h1><%= @seller.first_and_last_name %>
		<% unless @unpaid_lots.empty?%> (<%= link_to 'Statement', seller_path(@seller, :format => :pdf) %>)
		<% end %></h1>
	</header>
	<div class="details">
	<%= render "client_contact" %>
		<% if auctioneer_signed_in? %>
			<%= render "seller_facts" %>
		<% end %>
	</div>

		<% unless @active_lots.empty? %>
			<div class="live-items">
			<h3>Active Lots.</h3>
				<table>
					<tr>
						<td></td>
						<td class='hide'></td>
						<td class='hide'></td>
						<td></td>
						<td class='money'>Reserve</td>
						<td class='hide'></td>
						<td class='money'>Current Bidding</td>
					</tr>
					<% @active_lots.each do | lot| %>
						<tr>
							<td><%= short_date(lot.sale.date)%></td>
							<td class='hide'><%= lot.sale.house.code%></td>
							<td class='hide'><%= lot.lotnumber%></td>
							<td><%= lot.make_and_model %></td>
							<td class="money"><%= show_money(lot.reserve)%></td>
							<td class="money hide">(<%= pluralize(lot.bids.count, 'bid')%>)</td>
							<td class="money"><%= show_money(lot.selling_price)%></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>

		<% unless @unpaid_lots.empty? %>
			<div class="sold-lots">
				<h3>Sold lots due for payment.</h3>
				<table>
					<tr  class='highlight'>
						<td></td>
						<td></td>
						<td class= 'hide'></td>
						<td></td>
						<td class='hide'>Selling Price</td>
						<td class='hide'>Selling Fees</td>
						<td>Amount Due</td>
					</tr>
					<% @unpaid_lots.each do | lot| %>
						<tr>
							<td><%= short_date(lot.sale.date)%></td>
							<td><%= lot.sale.house.code%></td>
							<td class= 'hide'><%= lot.lotnumber%></td>
							<td><%= lot.make_and_model %></td>
							<td class="money hide"><%= show_money(lot.soldat)%></td>
							<td class="money hide"><%= show_money(lot.sfee)%></td>
							<td class="money"><%= show_money(lot.seller_due)%></td>
						</tr>
					<% end %>
					<tr></tr>
					<tr class='highlight'>
						<td class= 'hide'></td>
						<td class= 'hide'></td>
						<td class= 'hide'></td>
						<td colspan=3 class='right'>Total Credit Due</td>
						<td class='money'><%= show_money(@cash_due_to_seller)%></td>
					</tr>
				</table>
			</div>
		<% end %>

		<% unless @disputed_lots.empty? %>
			<div class="disputed-lots">
				<h3>Disputed Lots.</h3>
				<table>
					<% @disputed_lots.each do | lot| %>
						<tr>
							<td><%= short_date(lot.sale.date)%></td>
							<td><%= lot.sale.house.code%></td>
							<td><%= lot.lotnumber%></td>
							<td><%= lot.make_and_model %></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>

		<% unless @unsold_lots.empty? %>
			<div class="unsold-lots">
				<h3>Unsold lots to be collected.</h3>
					<table>
						<tr>
							<td class='hide'>Date</td>
							<td class='hide'>Sale</td>
							<td class='hide'>Lot</td>
							<td>Item</td>
							<td>Reserve</td>
							<td class='hide'></td>
							<td>Highest Bid</td>
						</tr>
				</tr>
				<% @unsold_lots.each do | lot| %>
					<tr>
						<td class='hide'><%= short_date(lot.sale.date)%></td>
						<td class='hide'><%= lot.sale.house.code%></td>
						<td class='hide'><%= lot.lotnumber%></td>
						<td><%= link_to "#{lot.make_and_model}", lot_path(lot) %></td>
						<td class='money'><%= show_money(lot.reserve)%></td>
						<td class='hide'><%= pluralize(lot.bids.count, 'bid')%></td>
						<td class='money'><%= show_money(lot.highest_bid.first.bidvalue)%></td>
					</tr>
				<% end %>
			</div>
		<% end %>
	</table>
</article>
<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new seller', new_seller_path %>
	</li>	
<% end %>
