<header>
	<h1>Auction Bidding</h1>
</header>
<article>
	<% if @sales.empty? %>
		<h2>There are no live sales</h2>
	<% else %>
		<table>
			<% @sales.each do |sale| %>
				<tr>
					<td><%= sale.house.name%></td>
					<td><%= nice_date(sale.date)%></td>
					<td class='money'><%= pluralize(sale.bids.count, 'bid')%></td>
					<td><%= link_to 'view bidding', bid_path(sale)%></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<nav class='contextual'>
	<ul>
		<li>
			<%= link_to 'Active', filtered_bids_path(:active)%>
		</li>
		<li>
			<%= link_to 'Complete', filtered_bids_path(:complete)%>
		</li>
	</ul>
</nav>
<% end %>
