<article>
	<%= paginate @sales %>
	<header>
		<h1>Auction Bidding</h1>
	</header>
	<% if @sales.empty? %>
		<h2>No sales available</h2>
	<% else %>
	
		<table>
			<% @sales.each do |sale| %>
				<tr>
					<td><%= sale.house.name%></td>
					<td><%= nice_date(sale.date)%></td>
					<td><%= pluralize(sale.bids.count, 'bid')%></td>
					<td><%= pluralize(sale.bidders.uniq.count, 'bidder') %></td>
					<td><%= link_to 'view bidding', bid_path(sale)%></td>
				</tr>
			<% end %>
		</table>
	<% end %>
	<%= paginate @sales %>
</article>

<% content_for(:side_links) do %>
		<li class='contextual'>
			<%= link_to 'active sales', filtered_bids_path(:live)%>
		</li>
		<li class='contextual'>
			<%= link_to 'completed sales', filtered_bids_path(:ended)%>
		</li>
<% end %>
