<% if @sale %>
	<header>
		<h1>Current Bidding for <%=@sale.house.name%> <%=nice_date(@sale.date)%></h1>
	</header>
	<article>
		<% @lots.each do | lot | %>
			<div class="lot">
				<h2>Lot <%=lot.lotnumber%> - <%= link_to "#{lot.make_and_model}", lot_path(lot)%></h2>
				<h3>Selling at <%=show_money(lot.selling_price)%> (reserve <%= show_money(lot.reserve)%>)</h3>
				<table>
					<% lot.bids.leading_bids.each do |bid |%> 
					<!-- lot.bids.leading_bids(10).each for top 10 bids, defaults to 5 -->
						<tr>
							<td><%= bid.buyer.full_name%></td>
							<td class='money'><%= show_money(bid.bidvalue)%></td>
							<td><%= date_time(bid.created_at)%></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>
	</article>
<% else %>
	<header>
		<h1>There is no current active sale</h1>
	</header>
	<article>
		check reports for previous sale details
	</article>
<% end %>

<% content_for(:side_links) do %>
	<nav>
		<ul>
			<li>
				<%=link_to 'back to live bidding list', bids_path %>
			</li>	
		</ul>
	</nav>
<% end %>
