<article>
	<% if @sale %>
		<header>
			<h1>Bidding for <%=@sale.house.name%> <%=nice_date(@sale.date)%></h1>
			<h2><%= pluralize(@sale.bids.count, 'bid') %>, <%= pluralize(@sale.bidders.uniq.count, 'bidder') %></h2>
		</header>
		<% @lots.each do | lot | %>
			<div class="lot">
				<h2>Lot <%=lot.lotnumber%> - <%= link_to "#{lot.make_and_model}", lot_path(lot)%></h2>
				<% if @sale.complete? %>
					<h3>Sold at <%=show_money(lot.soldat)%> (reserve <%= show_money(lot.reserve)%>)</h3>
				<% else %>
					<h3>Bidding at <%=show_money(lot.selling_price)%> (reserve <%= show_money(lot.reserve)%>)</h3>
				<% end %>
				<table>
					<% lot.bids.leading_bids.each do |bid |%> 
					<!-- lot.bids.leading_bids(10).each for top 10 bids, defaults to 5 -->
						<tr>
							<td><%= bid.buyer.full_name%></td>
							<td class='money'><%= show_money(bid.bidvalue)%></td>
							<td><%= date_time(bid.created_at)%></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>
	<% else %>
		<header>
			<h1>There is no current active sale</h1>
		</header>
		<p>check reports  or bidding for previous sale details</p>
	<% end %>
</article>

<% content_for(:side_links) do %>
		<li class='contextual'>
			<%= link_to 'live sales', filtered_bids_path(:live)%>
		</li>
		<li class='contextual'>
			<%= link_to 'completed sales', filtered_bids_path(:ended)%>
		</li>
<% end %>
