<td><%=lot.lotnumber %></td>
<td><%= lot.category.title %></td>
<td><%=lot.manufacturer%> <%=lot.model%></td>
<td class='money'><%=show_money(lot.reserve)%></td>
<% unless lot.bids.empty? %>
	<td class='money'><%= show_money(lot.selling_price) %></td>
	<td><%=lot.highest_bid.buyer.code_and_name%></td>
	<td class='money'><%= show_money(lot.highest_bid.bidvalue) %></td>

<% else %>
	<td> (no bids) </td>
<% end %>
<td><%= link_to "edit lot", edit_sale_lot_path(lot) unless lot.sale.frozen?%></td>
