<fieldset>
	<ul>
		<li>
			<label>Lot </label>
			<%=lot.number_field :lotnumber%>
		</li>
		<li>
			<label>Category</label>
			<%= lot.collection_select(:category_id, Category.alpha, :id , :title, prompt: "Choose Category" ) %>
		</li>
		<li>
			<label>Seller</label>
			<%= lot.collection_select(:seller_id, Seller.by_code, :id , :code_and_name, prompt: "Choose Seller" ) %>
		</li>
		<li>
			<label>Manufacturer</label>
			<%=lot.text_field :manufacturer%>
		</li>
		<li>
			<label>Model</label>
			<%=lot.text_field :model%>
		</li>
		<li>
			<label>Reserve</label>
			<%=lot.number_field :reserve, step: :any%>
		</li>
			<li>
				<label>Description</label>
			<%=lot.text_area :description%>
		</li>
		<li>
			<label>Main Image</label>
			<%=lot.file_field :image%>
		</li>
		<li>
			<label>Alternative Images</label>
			<%=lot.file_field :pictures, multiple: true%>
		</li>
	</ul>
</fieldset>
