
<fieldset>
	<h3><%= show_money(@lot.selling_price)%> (<%= pluralize(@lot.bids.count, 'bid')%>)</h3>
	<% unless @lot.selling_price >= @lot.reserve %>
		<h3>Reserve not met</h3>
	<% end %>
	
	<%= form_with(model: @lot, url: bids_path, method: :post, local:true) do |f| %>	
  <div class="actions">
  	<%=f.hidden_field :lot_id , value: @lot.id %>
  	<%= f.label "Maximum Bid £" %>
  	<%=f.number_field :bidvalue%>
    <%=f.submit "Bid"%>
  </div>
	<% end %>
</fieldset>
