		<div class="infos">
			<table>
				</tr>
					<tr>
					<td>Lots</td>
					<td class='money'><%= @how_many%></td>
				</tr>
					<tr>
					<td>Bids</td>
					<td class='money'><%=show_money(@total_sales)%></td>
				</tr>
				<tr>
					<td>Turnover</td>
					<td class='money'><%=show_money(@gross)%></td>
				</tr>
				<tr>
					<td>Seller's due</td>
					<td class='money'><%=show_money(@pay_out)%></td>
				</tr>
					<tr>
					<td>Seller fees</td>
					<td class='money'><%=show_money(@seller_fees)%></td>
				</tr>
					<tr>
					<td>Buyer fees</td>
					<td class='money'><%=show_money(@buyer_fees)%></td>
				</tr>
					<tr>
					<td>Profit</td>
					<td class='money'><%=show_money(@comm)%></td>
				</tr>
				<tr>
					<td>Av. profit/lot</td>
					<td class='money'><%=show_money(@average)%></td>
				</tr>
			</table>
		</div>