<article>
	<header>
		<h1>Lots</h1>
		<%= render 'lot_search_form' %>
	</header>
	
	<%if @lots.nil?%>
		<h3>Use the filters above to search and edit lots.</h3>
	<% else %>
		<% if @lots.empty? %>
			<h4>No search results, no lots fit this criteria.</h4>
		<% else %>
			<table>
				<tr>
					<td>Date</td>
					<td>Sale</td>
					<td>Lot</td>
					<td>Item</td>
					<td class='money'>Reserve</td>
					<td class='money'>Sold @</td>
					<td class='money'>Fee (Buyer)</td>
					<td class='money'>Fee (Seller)</td>
					<td class='money'>Fee (Total)</td>
					<td></td>
				</tr>
				<% @lots.each do |lot| %>
				<tr>
					<td><%= short_date(lot.sale_date) %></td>
					<td><%= lot.sale_name %></td>
					<td class='money'><%= lot.lotnumber %></td>
					<td><%= link_to truncate(lot.make_and_model, length:16, separator: " "), lot_path(lot) %></td>
					<td class='money'><%= show_money(lot.reserve)%></td>
					<td class='money'><%= show_money(lot.soldat) %></td>
					<td class='money'><%= show_money(lot.bfee) %></td>
					<td class='money'><%= show_money(lot.sfee) %></td>
					<td class='money'><%= show_money(lot.commissions) %></td>
					<td><%=link_to 'edit', edit_lot_path(lot)%></td>
					<td></td>
				</tr>
				<% end %>
			</table>
		<% end %>
	<% end %>
</article>

<% content_for(:side_info) do %>
	<%= render "side_stats" %>
<% end %>
<% content_for(:side_links) do %>
	<li>
			<%= link_to 'download CSV', lots_path(format: "csv") %>
	</li>
<% end %>
