<article>
	<header>
		<h1 class='desktop'>Search, filter and edit the <%=Lot.sold_in_auction%> auctioned lots.</h1>
		<h1 class='mobile'>Turn to landscape to search and edit sold lots.</h1>
		<%= render 'lot_search_form' %>
	</header>
	
	<%if @lots.nil?%>
		<h4 class='desktop'>Use the filters above to search and edit lots.</h4>
	<% else %>
		<% if @lots.empty? %>
			<h4>No search results, no lots fit the criteria.</h4>
		<% else %>
	
			<table>
				<tr class='highlight'>
					<td>Date</td>
					<td>Sale</td>
					<td>Lot</td>
					<td>Item</td>
					<td class='money'>Reserve</td>
					<td class='money'>Sold @</td>
					<td class='money'>Fee (Buyer)</td>
					<td class='money'>Fee (Seller)</td>
					<td class='money'>Fee (Total)</td>
					<td></td>
				</tr>
				<% @lots.each do |lot| %>
				<tr>
					<td><%= short_date(lot.sale_date) %></td>
					<td><%= lot.sale_name %></td>
					<td class='money'><%= lot.lotnumber %></td>
					<td><%= link_to truncate(lot.make_and_model, length:16, separator: " "), lot_path(lot) %></td>
					<td class='money'><%= show_money(lot.reserve)%></td>
					<td class='money'><%= show_money(lot.soldat) %></td>
					<td class='money'><%= show_money(lot.bfee) %></td>
					<td class='money'><%= show_money(lot.sfee) %></td>
					<td class='money'><%= show_money(lot.commissions) %></td>
					<td><%=link_to 'edit', edit_lot_path(lot)%></td>
					<td></td>
				</tr>
				<% end %>
			</table>

		<% end %>
	<% end %>
</article>

<% content_for(:side_info) do %>
	<%= render "side_stats" %>
<% end %>
<% content_for(:side_links) do %>
	<li>
			<%= link_to 'download CSV', lots_path(format: "csv") %>
	</li>
<% end %>
