<header>
	<h1>Lot <%=@lot.lotnumber%> - <%=@lot.sale.house.name%> - <%=nice_date(@lot.sale.date)%></h1>
</header>

<article>
	<div class="top-box">
		<div class="title-image">
		</div>
		<div class="title-text">
			<div class="item">
				<h1><%= @lot.manufacturer %> <%= @lot.model %></h1>
			</div>
			<div class="bid">
					<% if @lot.sale.complete? %>

						<h3>Winning Bid : <%= show_money(@lot.selling_price)%> (<%= pluralize(@lot.bids.count, 'bid')%>)</h3>
						<% unless @lot.selling_price >= @lot.reserve %>
							<h3>Reserve not met</h3>
						<% end %>
					<% else %>
						<% if @lot.sale.active? %>
							<%= render 'bid_field'%>
						<% end %>
					<% end %>
				<p>
					<%= link_to 'back to bidding card', sale_path(@lot.sale)%>
				</p>
			</div>
		</div>
	</div>
	<%= render 'shared/lot_item', lot: @lot%>
</article>
