<article>
	<header>
		<h1>Lot <%=@lot.lotnumber%> - <%=nice_date(@lot.sale.date)%>,</h1>
		<h2><%=@lot.sale.house.name%>.</h2>
	</header>
	<div class="top-box">
		<div class="title-image">
			<%= image_tag @lot.image.variant(resize: '600x') if @lot.image.attached? %>
		</div>
		<div class="title-text">
			<div class="item">
				<h2><%= @lot.model %> (<%= @lot.manufacturer %>)</h2>
			</div>
			<div class="bid">
				<% if @lot.sale.complete? %>
					<% if @lot.selling_price >= @lot.reserve %>
						<h3>Sold at : <%= show_money(@lot.selling_price)%></h3>
					<% else %>
						<h3>Reserve not met</h3>
					<% end %>
				<% else %>
					<% if buyer_signed_in? %>
						<% if @lot.sale.active? %>
							<%= render 'lots/bid_field'%>
						<% end %>
					<% end %>
				<% end %>

				<% if current_seller %>
					<p><%= link_to 'back to account', seller_path(current_seller)%></p>
				<% end %>
			</div>
		</div>
	</div>
	<%= render 'shared/lot_item', lot: @lot%>
	<% if current_buyer %>
		<div class="buyer-account">
			<%= link_to 'back to bidding card', buyer_bidding_path(current_buyer, @lot.sale)%>
		</div>
	<% end %>

</article>
