<%unless @since.nil? %>
	<ul>
		<li>Bidding for <%= time_ago_in_words(@since)%>.</li>
		<li><%= @total_bids %> bids made.</li>
		<li><%= @total_winning_bids %> bids won.</li>
		<li>Lots Paid <%= @paid_lots.count %></li>
		<li>Total spend <%= show_money(@gross_spend)%></li>
		<% unless @disputed_lots.empty? %>
			<li><%= pluralize(@disputed_lots.count, 'lot')%> disputed.</li>
		<% end %>
		<% if @buyer.last_sign_in_at%>
			<li><%= time_ago_in_words(@buyer.last_sign_in_at) %> ago.</li>
		<% end %>
	</ul>
<% end %>
