<%unless @since.nil? %>
	<ul>
		<li>Bidding for <%= time_ago_in_words(@since)%>.</li>
		<% unless @winning_lots.empty? %>
			<li><%= @total_bids %> bids made.</li>
			<li><%= pluralize(@total_winning_bids, 'lot') %> won.</li>
			<li><%=pluralize(@paid_lots.count, 'lot')%> purchased.</li>
			<li>Total spend to date <%= show_money(@gross_spend)%></li>
			<li>Payment Due <%= show_money(@unpaid_cash)%></li>
			<% unless @disputed_lots.empty? %>
				<li><%= pluralize(@disputed_lots.count, 'lot')%> in dispute.</li>
			<% end %>
		<% end %>
		<% if @buyer.last_sign_in_at%>
			<li><%= time_ago_in_words(@buyer.last_sign_in_at) %> ago.</li>
		<% end %>
	</ul>
<% end %>
