<header>
	<h1>Editing <%= @buyer.full_name%></h1>
</header>
<article>
	<%= form_with(model:@buyer, local:true) do |f| %>
		<%= render "shared/client_fields", f:f%>
		<%= f.submit %>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new buyer', new_buyer_path %>
	</li>	
<% end %>