<article>
	<header>
		<h1>Clients - Buyers</h1>
	</header>
	<table>
		<% @buyers.each do |buyer| %>
			<tr>
				<td><%= link_to "#{buyer.first_and_last_name}", buyer_path(buyer) %></td>
				<td>(<%= buyer.code %>)</td>
				<td><%= buyer.email %></td>
				<td><%= buyer.phone %></td>
				<td><%= link_to 'edit', edit_buyer_path(buyer) %></td>
				<td><%=link_to 'delete', buyer, method: :delete, data: { confirm: 'Are you sure? All lots will be deleted!' } if buyer.bids.empty? %></td>
			</tr>
		<% end %>
	</table>
</article>

<% content_for(:side_links) do %>
		<li class='contextual'>
			<%=link_to 'new buyer', new_buyer_path %>
		</li>	
<% end %>
