<header>
	<h1>Add a New Buyer</h1>
</header>
<article>
	<%= form_with(model: @buyer, local:true) do |f| %>
		<%= render "shared/client_fields", f: f%>
		<%= f.submit %>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<nav>
		<ul>
			<% unless controller.action_name == "new" %>
			<li>
				<%=link_to 'new buyer', new_buyer_path %>
			</li>	
			<% end %>
			<% unless controller.action_name == "index" %>
			<li>
				<%=link_to 'buyers list', buyers_path %>
			</li>
			<% end %>
		</ul>
	</nav>
<% end %>