<article>
	<header>
		<h1><%= @buyer.first_and_last_name %>
				<% unless @unpaid_lots.empty?%> (<%= link_to 'Invoice', buyer_path(@buyer, :format => :pdf) %>)
			<% end %></h1>

	</header>
	<div class="details">
		<%= render "client_contact" %>
		<%if auctioneer_signed_in?%>
			<%= render 'buyer_info' %>
		<% end %>
	</div>

	<%if buyer_signed_in?%>
		<div class="live-sales">
			<h3>Live Auctions.</h3>
			<% if @sales.empty? %>
				<p>Look out for a message advising when the next auciton is live. Let us know if your phone and email details have changed.</p>
			<% else %>
				<table>
					<% @sales.each do |sale| %>
						<tr>
							<td><%=short_date(sale.date)%></td>
							<td><%=sale.house.name %></td>
							<td><%= pluralize(sale.lots.count, 'lot')%></td>
							<td><%=link_to "bidding card", buyer_bidding_path(@buyer,sale)%></td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	<% end %>

	<% unless @unpaid_lots.empty? %>
		<div class="accounts">
			<h3>Account Payable.</h3>
			<table>
				<tr>
					<td></td>
					<td></td>
					<td class='hide'></td>
					<td></td>
					<td class="money hide">Bid</td>
					<td class="money hide">Comm</td>
					<td class="money">Total</td>
				</tr>
				<% @unpaid_lots.each do |lot| %>
					<tr>
						<td><%= lot.sale.house.name%></td>
						<td><%= short_date(lot.sale.date)%></td>
						<td class='hide'>Lot <%= lot.lotnumber%></td>
						<td><%= link_to "#{lot.make_and_model}", lot_path(lot.id)%></td>
						<td class='money hide'><%= show_money(lot.soldat)%></td>
						<td class='money hide'><%= show_money(lot.bfee)%></td>
						<td class='money'><%= show_money(lot.buyer_pays)%></td>
						<% if auctioneer_signed_in? %>
							<td><%= link_to 'edit', edit_lot_path(lot)%></td>
						<% end %>
					</tr>

				<% end %>
				<tr class='highlight'>
					<td colspan=3 class='hide'></td>
					<td colspan=3 class='right'>Payment due</td>
					<td class='money'><%= show_money(@unpaid_cash)%></td>
				</tr>
			</table>
		</div>
	<% end %>

	<% unless @disputed_lots.empty? %>
		<div class="accounts">
			<h3>Disputed Lots.</h3>
			<table>
				<tr>
					<td></td>
					<td></td>
					<td class='hide'></td>
					<td></td>
					<td class="money hide">Bid</td>
					<td class="money hide">Comm</td>
					<td class="money">Total</td>
				</tr>
				<% @disputed_lots.each do |lot| %>
					<tr>
						<td><%= lot.sale.house.code%></td>
						<td><%= short_date(lot.sale.date)%></td>
						<td class='hide'>Lot <%= lot.lotnumber%></td>
						<td><%= link_to "#{lot.make_and_model}", lot_path(lot.id)%></td>
						<td class='money hide'><%= show_money(lot.soldat)%></td>
						<td class='money hide'><%= show_money(lot.bfee)%></td>
						<td class='money'><%= show_money(lot.buyer_pays)%></td>
						<% if auctioneer_signed_in? %>
							<td><%= link_to 'edit', edit_lot_path(lot)%></td>
						<% end %>
					</tr>
				<% end %>
				<tr>
					<td colspan=3 class='hide'></td>
					<td colspan=3 class='right'>Disputed Total</td>
					<td class='money'><%= show_money(@disputed_cash)%></td>
				</tr>
			</table>
		</div>
	<% end %>

</article>

<% content_for(:side_links) do %>
		<li class='contextual'>
			<%=link_to 'new buyer', new_buyer_path %>
		</li>	
<% end %>
