<header>
	<h1><%= @buyer.first_and_last_name %></h1>
</header>
<article>
	<div class="client-details">
		<h3>Contact Details</h3>
		<%= render "client_contact" %>
		<p>You've bid on <%= @buyer.bidon.uniq.count%> lots, winning <%= @buyer.winning_bids.count%>. (<%= pluralize(@buyer.bids.count, 'bid')%> made in total)</p>
	</div>
	<div class="live-sales">
		<h3>Auctions</h3>
		<% if @sales.empty? %>
			<p>Look out for a message advising when the next auciton is live. Let us know if your phone and email details are incorrect.</p>
		<% else %>
			<table>
				<% @sales.each do |sale| %>
					<tr>
						<td><%=sale.house.name %></td>
						<td><%=nice_date(sale.date)%></td>
						<td><%=link_to 'bidding card', sale_path(sale)%></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
	<% unless @unpaid_lots.empty? %>
		<div class="accounts">
			<h3>Account  - Payment due <%= show_money(@unpaid_cash)%></h3>
			<table>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Bid</td>
					<td>Comm</td>
					<td>Total</td>
				</tr>
				<% @unpaid_lots.each do |lot| %>
					<tr>
						<td><%= lot.sale.house.code%></td>
						<td><%= short_date(lot.sale.date)%></td>
						<td>Lot <%= lot.lotnumber%></td>
						<td><%= link_to "#{lot.make_and_model}", lot_path(lot.id)%></td>
						<td class='money'><%= show_money(lot.soldat)%></td>
						<td class='money'><%= show_money(lot.bfee)%></td>
						<td class='money'><%= show_money(lot.buyer_pays)%></td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
</article>
<% content_for(:side_links) do %>
		<li class='contextual'>
			<%=link_to 'new buyer', new_buyer_path %>
		</li>	
<% end %>