<header>
	<h1><%= @buyer.first_and_last_name %></h1>
</header>
<article>
	<%= render "client_contact" %>
	<% if @sales.empty? %>
		<p>Look out for a message advising the next auciton is live. Let us know if your phone and email details are incorrect.</p>
	<% else %>
		<table>
			<% @sales.each do |sale| %>
				<tr>
					<td><%=sale.house.name%></td>
					<td><%=nice_date(sale.date)%></td>
					<td><%=link_to 'bidding card', sale_path(@sale)%></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<nav>
		<ul>
			<% unless controller.action_name == "new" %>
			<li>
				<%=link_to 'new buyer', new_buyer_path %>
			</li>	
			<% end %>
			<% unless controller.action_name == "index" %>
			<li>
				<%=link_to 'buyers list', buyers_path %>
			</li>
			<% end %>
		</ul>
	</nav>
<% end %>