<header>
	<h1><%= @buyer.first_and_last_name %></h1>
</header>
<article>
	<%= render "client_contact" %>
	<% if @sale %>
		<%=link_to 'bidding card', sale_path(@sale)%>
	<% else %>
		<p>look out for a message advising the next auciton is live</p>
		<p>You can check your phone and email details are correct above</p>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<nav>
		<ul>
			<% unless controller.action_name == "new" %>
			<li>
				<%=link_to 'new buyer', new_buyer_path %>
			</li>	
			<% end %>
			<% unless controller.action_name == "index" %>
			<li>
				<%=link_to 'buyers list', buyers_path %>
			</li>
			<% end %>
		</ul>
	</nav>
<% end %>