<div class="nested-fields">
	<fieldset>
		<ul>
			<li>
				<label>Lot Number</label>
				<%=f.number_field :lotnumber, step: 0.01 %>
			</li>
			<li>
				<label>Category</label>
				<%= f.collection_select(:category_id, Category.alpha, :id , :title, prompt: "Choose Category" ) %>
			</li>
			<li>
				<label>Seller</label>
				<%= f.collection_select(:seller_id, Seller.by_code, :id , :code_and_name, prompt: "Choose Seller" ) %>
			</li>
			<li>
				<label>Manufacturer</label>
				<%=f.text_field :manufacturer%>
			</li>
			<li>
				<label>Model</label>
				<%=f.text_field :model%>
			</li>
			<li>
				<label>Reserve</label>
				<%=f.number_field :reserve, step: 0.01 %>
			</li>
				<li>
				<label>Description</label>
				<%=f.text_area :description%>
			</li>
			<li>
				<% if f.object.image.attached? %>
					<div class="current-image">
						<label>Current Image</label>
						<%= image_tag f.object.image.variant(resize: "100x")%>
						 	<%= link_to 'remove', delete_image_lot_path(f.object.id),
											              method: :delete,
											              data: { confirm: 'Are you sure?' } %>
          </div>
					<label>Change Image</label>
					<%=f.file_field :image%>
				<% else %>
					<label>Main Image</label>
					<%=f.file_field :image%>
				<% end %>
			</li>
			<li>
				<% if f.object.pictures.attached? %>
				<label>Current Images</label>
				 	<%= link_to 'remove all', delete_pictures_lot_path(f.object.id), 
											 	method: :delete, 
											 	data: { confirm: 'Are you sure?' } %><br>
					<% f.object.pictures.each do |picture | %>
						<div class="current-image">
							<%= image_tag picture.variant(resize: "100x")%>
					<!-- to do remove attachment individually -->
	          </div>
					<% end %>
					<label>Add More Images</label>
					<%=f.file_field :pictures, multiple: true%>
				<% else %>
					<label>Add Alternative Images</label>
					<%=f.file_field :pictures, multiple: true%>
				<% end %>
			</li>
			<li>
				<%= link_to_remove_association "delete lot", f %>
			</li>
		</ul>
	</fieldset>
</div>