<div class="nested-fields">
	<fieldset class='sub'>
		<ul>
			<li>
				<label class='next'>Lot Number</label>
				<%=f.number_field :lotnumber, step: 0.01 %>
			</li>
			<li>
				<label class='next'>Category</label>
				<%= f.collection_select(:category_id, Category.alpha, :id , :title, prompt: "Choose Category" ) %>
			</li>
			<li>
				<label class='next'>Seller</label>
				<%= f.collection_select(:seller_id, Seller.by_code, :id , :code_and_name, prompt: "Choose Seller" ) %>
			</li>
			<li>
				<label class='next'>Manufacturer</label>
				<%=f.text_field :manufacturer%>
			</li>
			<li>
				<label class='next'>Model</label>
				<%=f.text_field :model%>
			</li>
			<li>
				<label class='next'>Reserve</label>
				<%=f.number_field :reserve, step: 0.01 %>
			</li>
				<li>
				<label class='next'>Description</label>
				<%=f.text_area :description , rows: 10 %>
			</li>
			<li class='image'>
				<% if f.object.image.attached? %>
						<label>Main Image</label>
						<p><%= link_to 'remove', delete_image_lot_path(f.object.id),
																				              method: :delete,
																				              data: { confirm: 'Are you sure?' } %></p>
						<div class="image-block">
							<div class='block-image'>
								<%= image_tag f.object.image.variant(resize: "400x")%>
								<label>Change Image</label><%=f.file_field :image%>
							</div>
						</div>
				<% else %>
					<label>Main Image</label>
					<%=f.file_field :image%>
				<% end %>
			</li>
			<li>
				<% if f.object.pictures.attached? %>
					<label>Additional Images</label>
				 		<p><%= link_to 'remove all', delete_pictures_lot_path(f.object.id), 
											 	method: :delete, 
											 	data: { confirm: 'Are you sure?' } %></p>
						<div class="picture-gallery">
							<% f.object.pictures.each do |picture | %>
								<div class="lot-picture">
									<%= image_tag picture.variant(resize: "200x")%>
							<!-- to do remove attachment individually -->
								</div>
						
							<% end %>
						</div>
					<label>Add More Images</label>
					<%=f.file_field :pictures, multiple: true%>
				<% else %>
					<label>Additional Images</label>
					<%=f.file_field :pictures, multiple: true%>
				<% end %>
			</li>
			<li>
				<%= link_to_remove_association "delete lot", f %>
			</li>
		</ul>
	</fieldset>
</div>