<h1>Auctions</h1>
<table>
<% @sales.each do |sale| %>
	<tr>
		<td class='date'><%= nice_date(sale.date) %></td>
		<td class='house'><%= sale.house.name%></td>
		<td class='lots'><%= pluralize(sale.lots.count, 'lot') %></td>
		<td class='admin-link'><%= link_to "View", sale_path(sale) %></td>
		<td class='admin-link'><%= link_to "Edit", edit_sale_path(sale) unless sale.frozen? %></td>
		<td class='admin-link'><%=link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } unless sale.frozen? %></td>
		<% if sale.active? %>
			<td>(active)</td>
		<% end %>
		<% if !sale.frozen? %>
			<td>(building)</td>
		<% end %>
	</tr>
<% end %>
</table>
