<header>
	<h1>Auctions</h1>	
</header>
<article>
	<table>
	<% unless @building.empty? %>
		<tr>
			<td colspan=8>
				<h2>Building</h2>
			</td>
		</tr>		
		<% @building.each do |sale| %>
			<tr>
				<td class='date'><%= short_date(sale.date) %></td>
				<td class='house'><%= sale.house.code%></td>
				<td class='lots'><%= pluralize(sale.lots.count, 'lot') %></td>
				<td><%= link_to "View", sale_path(sale) %></td>
				<td><%= link_to "Edit", edit_sale_path(sale) unless sale.frozen? %></td>
				<td><%=link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure? ALL attached lots will be deleted!' } unless sale.frozen? %></td>
				<td><%= button_to 'Open Sale', activate_sale_path(@sale), data: { confirm: 'Are you sure? This will publish the sale to all buyers!' }%></td>
			</tr>
		<% end %>
	<% end %>
	<% unless @live_sales.empty? %>
		<tr>
			<td colspan=8>
				<h2>Active</h2>
			</td>
		</tr>
			<% @live_sales.each do |sale| %>
				<tr>
					<td class='date'><%= short_date(sale.date) %></td>
					<td class='house'><%= sale.house.code%></td>
					<td class='lots'><%= pluralize(sale.lots.count, 'lot') %></td>
					<td><%= pluralize(sale.vendors.uniq.count, 'vendor') %></td>
					<td><%= pluralize(sale.bids.count, 'bid') %></td>
					<td ><%= link_to "live bidding", bid_path(sale) %></td>
					<td><%= button_to 'End Sale', deactivate_sale_path(@sale), data: { confirm: 'Are you sure? This will close the auction and publish the reports!' }%></td>
				</tr>
			<% end %>
	<% end %>
	<% unless @complete_sales.empty? %>
		<tr>
			<td colspan=8>
				<h2>Complete</h2>
			</td>
		</tr>
			<% @complete_sales.each do |sale| %>
				<tr>
					<td class='date'><%= short_date(sale.date) %></td>
					<td class='house'><%= sale.house.code%></td>
					<td class='lots'><%= pluralize(sale.lots.count, 'lot') %></td>
					<td><%= pluralize(sale.vendors.uniq.count, 'vendor') %></td>
					<td><%= pluralize(sale.bids.count, 'bid') %></td>
					<td><%= link_to "view bids", bids_path(sale) %></td>
					<!-- todo button to sales report -->
					<td>Report</td>
					<!-- to here -->
				</tr>
			<% end %>
	<% end %>
	</table>
</article>

<!-- again if admin -->
<% content_for(:side_links) do %>
	<%= render 'contextual_menu' %>
<% end %>
<!-- to here -->