<h1>Create a new Sale</h1>
<%= render "shared/errors", object: @sale %>
<%= form_with(model:@sale, local:true, html: {class: "cms"}) do |f| %>
	<fieldset>
		<ul>
			<li>
				<label>House</label>
				<%= f.collection_select(:house_id, House.alpha, :id , :name, prompt: "Choose House" ) %>
			</li>
			<li>
				<label>Auction Date</label>
				<%= f.date_select :date, { order: [ :day, :month, :year]} %>
			</li>
		</ul>
	</fieldset>		
	<p>
	<%= f.submit "Create" %>
	</p>
<% end %>