<article>
	<header>
		<h1><%= nice_date(@sale.date) %> <%=@sale.house.name %></h1>
	</header>
	<% @lots.each do |lot| %>
		<div class="lot">
			<h2>Lot <%=lot.lotnumber%> - <%= link_to "#{lot.make_and_model}", lot_path(lot)%> - reserve : <% show_money(lot.reserve)%></h2>
			<!-- todo -->
			<h3> images go here </h3>
			<p><%= simple_format(lot.description)%></p>
		</div>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<%= render 'contextual_menu' %>
<% end %>
