<header>
	<h1><%= nice_date(@sale.date) %> <%=@sale.house.name %></h1>	
</header>
<article>
	<div class="auction-control">
		<!-- if admin -->
			<% if @sale.active?	%>
				<%= button_to 'End Auction', deactivate_sale_path(@sale)%>
			<% end %>
			<% if !@sale.frozen? %>
				<%= button_to 'Start Auction', activate_sale_path(@sale)%>
			<% end %>
		<!-- to here -->
	</div>
	<table>
		<tr>
			<td>Lot</td>
			<td>Category</td>
			<td>Item</td>
			<td class="money">Bidding at</td>
			<td class="money">Your Bid</td>
			<td class="money">Status</td>
		</tr>
		<%= render "lot_table"%>
	</table>
</article>

<% content_for(:side_links) do %>
	<%= render 'contextual_menu' %>
<% end %>
