<header>
	<h1><%= nice_date(@sale.date) %> <%= @sale.house.name %>.</h1>
	<h2>Credit Note : <%= @seller.full_name %>.</h2>
	<h3>Total : <%= show_money(@seller_payment)%> - (<%=@seller_sold_lots.count%> of <%= pluralize(@seller_lots.count, 'lot')%>  sold)</h3>
</header>
<article>
	<table>

	<% unless @seller_sold_lots.empty? %>
		<div class="sold-lots">
			<tr>
				<th colspan="6">
					<h3>Sold</h3>
				</th>
			</tr>
			<tr>
				<td>Lot</td>
				<td>Item</td>
				<td class='money'>Reserve</td>
				<td class='money'>Sold at</td>
				<td class='money'>Fee</td>
				<td class='money'>Total</td>
			</tr>
			<% @seller_sold_lots.each do |lot| %>
				<tr>
					<td><%= lot.lotnumber%></td>
					<td><%=link_to "#{lot.make_and_model}", lot_path(lot)%></td>
					<td class='money'><%=show_money(lot.reserve) %></td>
					<td class='money'><%=show_money(lot.soldat) %></td>
					<td class='money'><%=show_money(lot.sfee) %></td>
					<td class='money'><%=show_money(lot.seller_due) %></td>
				</tr>
			<% end %>
		</div>
	<% end %>

	<% unless @seller_unsold_lots.empty? %>
		<div class="unsold-lots">
			<tr>
				<th colspan='6'>
					<h3>Unsold</h3>
				</th>
			</tr>
			<tr>
				<td>Lot</td>
				<td>Item</td>
				<td class='money'>Reserve</td>
				<td class='money'>Bidders</td>
				<td class='money'>Highest Bid</td>
				<td class='money'></td>
			</tr>
			<% @seller_unsold_lots.each do |lot| %>
				<tr>
					<td><%= lot.lotnumber%></td>
					<td><%=link_to "#{lot.make_and_model}", lot_path(lot)%></td>
					<td class='money'><%=show_money(lot.reserve) %></td>
					<%if lot.bids.empty? %>
						<td class='money'>no bids</td>
					<% else %>
						<td class='money'><%= pluralize( lot.bids.count, 'bid')%></td>
					<% end %>
					<% if lot.highest_bid.empty? %>
						<td class='money'>no bids</td>
					<% else %>
						<td class='money'><%=show_money(lot.highest_bid.first.bidvalue) %></td>
					<% end %>
					<td class='money'></td>
				</tr>
			<% end %>
		</div>
	<% end %>
	</table>
</article>
