<header>
	<header>
        <h1>Auction Reports, Invoices & Credit Notes.</h1>
    </header>
<article>
	<h3>Generate reports for completed auctions.</h3>
  <%= form_with(scope: :report, url: report_viewer_path, method: :get, local:true) do |f| %>
    <fieldset>
    	<ul>
    		<li>
    			<%= f.collection_select(:sale_id, Sale.previous, :id , :house_and_date, prompt: "Choose Auction" ) %>
    		</li>
    		<p>Leave the fields below BLANK to generate auction report, alternatively,</p>
    		<li>
    			<%= f.collection_select(:buyer_id, Buyer.all, :id , :full_name, prompt: "Choose Buyer") %>
    		</li>
            <p> -- OR -- </p>
    		<li>
    			<%= f.collection_select(:seller_id, Seller.all, :id , :full_name, prompt: "Choose seller" ) %>
    		</li>

    </fieldset>
    <%= f.submit "Report" %>
   <% end %>
</article>