<% if @default %>
	<p>
		<%= @default.name%> <%= @default.address1 if @default.address1 %> <%= @default.address2 if @default.address2 %> <%= @default.address3 if @default.address3 %> <%= @default.postcode if @default.postcode %><br>
		<%= @default.email if @default.email %> /	<%= @default.phone if @default.phone %> </p>
<% end %>
<%= link_to 'Admin Sign In', new_auctioneer_session_path%>
