<% if @default %>
	<p><%= @default.name%></p>
	<p><%= @default.address1 if @default.address1 %> <%= @default.address2 if @default.address2 %> <%= @default.address3 if @default.address3 %> <%= @default.postcode if @default.postcode %><p>
		<p><%= @default.email if @default.email if @default.email %></p>
		<p><%= @default.phone if @default.phone if @default.phone%></p>
<% end %>
<% unless auctioneer_signed_in? %>
	<%= link_to 'Admin Sign In', new_auctioneer_session_path%>
<% end %>

