<header>
	<nav>
		<ul>
			<li>
				<%= link_to 'welcome', root_path%>
			</li>
			<li>
				<%= link_to 'about', about_path%>
			</li>
			<li>contact</li>
			<li>log in</li>
			<li>log out</li>
			<li>
				<%= link_to 'houses', houses_path%>
			</li>
			<li>
				<%= link_to 'categories', categories_path%>
			</li>
			<li>
				<%= link_to 'sales', sales_path%>
			</li>
			<li>
				<%= link_to 'buyers', buyers_path%>
			</li>
			<li>
				<%= link_to 'sellers', sellers_path%>
			</li>
			<li>
				<%= link_to 'reports', reports_path%>
			</li>
		</ul>
	</nav>
</header>