<nav class='site'>
	<ul>
		<li>
			<%= link_to 'home', root_path%>
		</li>

		<% unless buyer_signed_in? || seller_signed_in?  %>
			<li>
				<%= link_to 'buyers', new_buyer_session_path%>
			</li>
		<% end %>


		<% if buyer_signed_in? %>

			<li>
				<%= link_to 'account', buyer_path(current_buyer) %>
			</li>
			<li>
				<%= link_to 'log out', destroy_buyer_session_path , method: :delete %>
			</li>
		<% end %>

		<% unless seller_signed_in? || buyer_signed_in? %>
			<li>
				<%= link_to 'sellers', new_seller_session_path%>
			</li>
		<% end %>

		<% if seller_signed_in? %>
			<li>
				<%= link_to 'account', seller_path(current_seller) %>
			</li>
			<li>
				<%= link_to 'log out', destroy_seller_session_path, method: :delete  %>
			</li>
		<% end %>


	</ul>
</nav>
