<aside>
	<nav>
		<li>
			<%= link_to 'house admin', houses_path%>
		</li>
		<li>
			<%= link_to 'sale admin', sales_path%>
		</li>
		<li>
			<%= link_to 'buyers admin', buyers_path%>
		</li>
		<li>
			<%= link_to 'sellers admin', sellers_path%>
		</li>
		<li>
			reports admin
		</li>
	</nav>
	

	<%= content_for(:side_extras)%>
</aside>