<% if  auctioneer_signed_in? %>
	<nav class='admin-lnks'>
		<ul>
			<%= content_for(:side_links)%>
			<% unless controller.controller_name == "sales" %>
				<li>
					<%= link_to 'sales', filtered_sales_path(:scope) %>
				</li>
			<% end %>	
			<% unless controller.controller_name == "bids" %>
				<li>
					<%= link_to 'bidding', bids_path %>
				</li>
			<% end %>
			 <!-- todo unless no complete sales -->
			<li>
				<%= link_to 'lots', lots_path %>
			</li>
			<li>
				<%= link_to 'buyers', buyers_path %>
			</li>
			<li>
				<%= link_to 'sellers', sellers_path %>
			</li>
			<li>
				<%= link_to 'reports', reports_path %>
			</li>
			<li>
				<%= link_to 'auctioneers', auctioneers_path %>
			</li>
			<li>
				<%=link_to 'sign out', destroy_auctioneer_session_path, method: :delete %>
			</li>
		</ul>
	</nav>
	<%= content_for(:side_info)%>
<% end %>

