<%= content_for(:side_info)%>
<nav class='admin-lnks'>
	<ul>
		<%= content_for(:side_links)%>
		<li>
			<%= link_to 'sales', filtered_sales_path(:scope) %>
		</li>
		<li>
			<%= link_to 'bidding', bids_path %>
		</li>
		 <!-- todo unless no complete sales -->
		<li>
			<%= link_to 'lots', lots_path %>
		</li>
		<li>
			<%= link_to 'buyers', buyers_path %>
		</li>
		<li>
			<%= link_to 'sellers', sellers_path %>
		</li>
		<li>
			<%= link_to 'reports', reports_path %>
		</li>
	</ul>
</nav>


